# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
[submodule "task"]
	path = tools/task
	url = https://github.com/nuvolaris/task
	branch = nuvolaris
[submodule "openwhisk-cli"]
	path = tools/openwhisk-cli
	url = https://github.com/nuvolaris/openwhisk-cli
	branch = nuvolaris
[submodule "sh"]
	path = tools/sh
	url = https://github.com/nuvolaris/sh
	branch = nuvolaris
[submodule "tools/httpie-go"]
	path = tools/httpie-go
	url = https://github.com/nuvolaris/httpie-go
[submodule "tools/go-replace"]
	path = tools/go-replace
	url = https://github.com/nuvolaris/go-replace
[submodule "tools/someutils"]
	path = tools/someutils
	url = https://github.com/nuvolaris/someutils
	branch = nuvolaris
[submodule "tools/goawk"]
	path = tools/goawk
	url = https://github.com/nuvolaris/goawk
[submodule "tools/go-find"]
	path = tools/go-find
	url = https://github.com/nuvolaris/go-find
[submodule "olaris"]
	path = olaris
	url = https://github.com/nuvolaris/olaris
	branch = test
[submodule "tests/test/bats"]
	path = tests/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "tests/test_helper/bats-support"]
	path = tests/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/test_helper/bats-assert"]
	path = tests/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tools/gojq"]
	path = tools/gojq
	url = https://github.com/nuvolaris/gojq
[submodule "tools/goja"]
	path = tools/goja
	url = https://github.com/nuvolaris/goja
[submodule "tools/envsubst"]
	path = tools/envsubst
	url = https://github.com/nuvolaris/envsubst/
